/* Reset some default browser styles */
body, h1, h2, ul {
  margin: 0;
  padding: 0;
}

/* Set background color and font */
body {
  font-family: 'VT323';
  background-color: #1a1f22; /* Black background color */
  color: #fff; /* White text color */
  font-weight: 600;
  overflow: hidden; /* Add this line to prevent scrolling */
  font-smooth: always;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  color: #9a99ff;
  margin: 0;
}
.hi{
    align-items: center;

}


.header-nav ul {
  list-style: none;
}

.header-nav ul li {
  display: inline;
  margin-right: 20px;
}

.header-nav ul li a {
  text-decoration: none;
  color: #e6db74;
  justify-content: space-between;
  font-size: 23px;
}

/* Hero section styles */
.hero {
  text-align: center;
  height: 100vh; /* Set the height to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.hero h2 {
  justify-content: center;
  font-size: 80px;
  margin: 0;
  text-transform: uppercase;
}

.specialization {
  color: #e6db74; /* Blue color from dark mode */
}

/* Footer styles (customize as needed) */
.footer {
  text-align: center;
  padding: 20px 0;
}




@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* .cursor {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 85px;
  background-color: #e6db74;
  animation: blink 0.7s infinite;
} */


/* About Me section styles */
.about-me {
  background-color: #ffe066; /* Complementary color to #1a1f22 */
  padding: 60px 0;
  text-align: center;
  color: #1a1f22; /* Text color that complements the background color */
}

.about-me h3 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #1a1f22; /* Text color that complements the background color */
}

.about-me p {
  font-size: 18px;
  line-height: 1.5;
  color: #1a1f22; /* Text content that complements the background color */
}

.marker {
  color: #9a99ff;
  font-size: 40px;
}


/* Button styles */
.pixelated-button {
  width: 30%;
  background-color: transparent; /* Transparent background */
  border: 4px solid #e6db74; /* Yellow border */
  color: #e6db74; /* Text color matches the border color */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 4px 4px #e
}
